<div id="packer_show" class='global_show'>

  <%= render 'packers/packer_profile' %>

  <section id="application_packer_show" class="section">
    <div class='container container_application'>
      <div class='row row_title'>
        <h2><%= t('packer.show.application.motivation') %></h2>
      </div>
      <div class='row row_placeholder'>
        <p><%= t('packer.show.application.placeholder') %></p>
      </div>
    </div>
  </section>
</div>


<p>Status : <%= @connection.status %> </p>

<%= link_to "edit",   edit_mission_connection_path(@mission,@connection) %>
<%= link_to "accept",  accept_connection_path(@mission,@connection) %>
<%= link_to "refuse",  refuse_connection_path(@mission,@connection) %>
<%= link_to "cancel",  cancel_connection_path(@mission,@connection) %>
<%= link_to "confirm",  confirm_connection_path(@mission,@connection) %>

<%= link_to "delete",  mission_connection_path(@mission,@connection), method: :delete, data: {confirm: "Are your sure?"} %>



