<h1><%= t(".sign_up") %></h1>
<%= image_tag "/packers_devise.png", id: 'devise_packer'  %><br/>
<h2>I want to become a Packer</h2>
<p class="subtitle_devise">To become a Crew, <%= link_to "click here", iamacrew_path %></p>
<p>By signing up as a Packer, you will be able to apply to opportunities to offer your skills in exchange for food and accommodation.</p>
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="facebook_call2action"><%= link_to "Sign up with facebook", omniauth_authorize_path(resource_name, provider) %></div>
  <% end -%>
<% end -%>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
  <!--  <%= f.input :cgu, as: :boolean, label: ("I agree to the #{link_to 'Terms & Conditions', 'http://www.packyourskills.com/CGU_201709_PackYourSkills_Packer.pdf'}").html_safe, required: true  %> -->
    <p>By signing up you agree to the <%= link_to 'Terms & Conditions', 'http://www.packyourskills.com/CGU_201709_PackYourSkills_Packer.pdf' %></p>
    <%= f.hidden_field :role, value: "packer" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".sign_up"), :class => "btn btn-primary" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>





<!-- { id: 'You need to accept the Terms & Conditions'} -->
