<footer class="footer">
  <!-- Footer -->
  <section id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <h1><%= t('footer.aboutus.title') %></h1>
          <p><%= t('footer.aboutus.content') %></p>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h1><%= t('footer.contact.title') %></h1>
          <p><%= t('footer.contact.content') %></p>
          <p><%= image_tag "/logo.email.white.png", :class => "email_logo" %><a href="mailto:hello@packyoursills.com">hello@packyourskills.com</a></p>
          <ul class="list-inline">
            <li><a href="https://www.instagram.com/packyourskills/" target="_blank" class="logo_social_network logo_insta"></a></li>
            <li><a href="https://www.facebook.com/PackYourSkills/" target="_blank" class="logo_social_network logo_fb"></a></li>
            <li><a href="https://www.youtube.com/playlist?list=PLTAYKibpcTw9u8f5zMHd6su4UrfOO9611" target="_blank" class="logo_social_network logo_youtube"></a></li>
            <li><a href="https://twitter.com/packyourskills" target="_blank" class="logo_social_network logo_twitter"></a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-4">
          <h1><%= t('footer.newsletter.title') %></h1>
          <p><%= t('footer.newsletter.content') %></p>
          <!-- Mailchimp -->
          <div id="mc_embed_signup">
            <form action="//packyourskills.us14.list-manage.com/subscribe/post?u=8c95cf695d48cd7d49d9b5812&amp;id=9a7badbb9b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                  <div class="mc-field-group">
                    <input type="email" placeholder=" Email address" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c95cf695d48cd7d49d9b5812_9a7badbb9b" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="Keep me informed" name="subscribe" id="mc-embedded-subscribe" class="green_call2action"></div>
              </div>
            </form>
          </div>
          <!-- End of Mailchimp -->
        </div>
      </div>
    </div>
  </section>
  <!-- End of Footer -->

  <!-- Design by -->
  <div class="designby">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p><%= t('footer.designby.part1') %> <%= image_tag "/footer.love.png" %> <a href="http://milica.crevado.com"><%= t('footer.designby.part2') %></a></br><%= t('footer.designby.part3') %></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End of by -->

  <!-- Copyright -->
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>Copyright &copy; 2017 <a href="www.packyourskills.com">Pack Your Skills.</a></p>
        </div>
      </div>
    </div>
  </div>
  <!-- End of Copyright -->

</footer>
