<div class="banner">
  <div class="banner_content">
    <h2>Admin</h2>
  </div>
</div>
<% @missions.each_with_index do |mission, index| %>
  <p> -------- </p>
  <p>Mission <%= index + 1 %> <%= mission.status %></p>
  <p>title : <%= mission.title %></h1>
  <p><%= link_to "Edit mission info", edit_mission_path(mission.id) %> - <%= link_to "Edit Crew info", edit_crew_path(mission.crew.id) %></p>
  <p> ---- </p>
<% end %>

<p><%= link_to "Hey Nelson, you have all the power", rails_admin_path %></p>
