<div id="room_packer" class="room">

<!-- Banner Part -->
  <section class="banner banner_room">
    <div class="banner_content">
      <h2>Welcome on board</h2>
      <p>We call this page your "room". You can come back here anytime by clicking on the Pack Your Skills logo on top of the page.</p>
      <p>The design isn't crazy here but at least it is functionnal ;)</p>
    </div>
  </section>

  <section class= "call2action">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-4 col-sm-4">
          <div class="box">
            <p><%= link_to "See your mission #{mission.title}", mission_path(@mission.id) %></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="connections_room_packer">
    <div class="container container_flex">
      <div class="box">
        <h2>All the applications</h2>
        <% if @all_online.size == 0 %>
          <p>You don't have any application yet!</p>
        <% else %>
          <% if @all_online.size != 0 %>
            <div class="box_application">
              <% @all_online.each_with_index do |connection, index| %>
                <p><%= index + 1 %> - <strong><%= connection.packer.first_name %> <%= connection.packer.last_name %></strong> - <%= link_to "view", mission_connection_path(connection.mission.id, connection.id) %></p>
              <% end %>
            </div>
          <% end %>

        <% end %>
      </div>
    </div>
  </section>
</div>
