<div id="home">
  <!-- Banner Part -->
  <section id="home_banner" class="section">
    <div class="container">
      <div class="row">
        <div class="header">
          <div class="col-xs-12 col-sm-5">
            <a href="/">PackYourSkills</a>
          </div>
          <div class="col-xs-12 col-sm-2 hide_for_phone" id="header_logo">
             <a href="/"><%= image_tag "/home.logo.5cm.png" %></a>
          </div>
        </div>
        <div class="col-xs-12 col-sm-8">
          <h1 class="slogan_part1"><%= t('home.banner.slogan1') %></h1>
          <h1 class="slogan_part1"><%= t('home.banner.slogan2') %> <%= image_tag "/home.can.png", id: 'img_can' %></h1>
          <h1 class="slogan_part2"><%= t('home.banner.slogan3') %></h1>
          <h1 class="slogan_part2"><%= t('home.banner.slogan4') %><%= image_tag "/home.exclamation.png", id: 'home_exclamation'  %></h1>
          <% unless I18n.locale.to_s=="en" %>
            <div class="translate"><%= t('home.banner.translate') %></div>
          <% end %>
          <h2><%= t('home.banner.baseline1') %></h2>
          <h2><%= t('home.banner.baseline2') %></h2>
        </div>
      </div>
      <div class="row row_call2action">
        <div class="col-xs-12 col-sm-8">
          <a class="red_call2action" href='/NovemberIsTheNewCool' role="button"><%= t('home.banner.call2action') %></a>
          <p class='comment comment_3nd_edition'><%= image_tag "/home.banner.arrowslogan.png" %> <%= t('home.banner.date') %></p>
          <p class='comment comment_crews'><%= t('home.banner.message2crews') %></p>
        </div>
      </div>
    </div>
    <div class="footer_banner">
      <a href="#home_mission"><%= image_tag "/home.banner.arrow.png", id: 'arrow_banner'  %></a>
    </div>
  </section>
  <!-- Enf of Banner Part -->

  <!-- Mission Part -->
  <section id="home_mission" class="section section_path section_right_path">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-8 col-md-offset-2 col-md-7">
          <h1><%= t('home.mission.title') %><span style="color: #D0274D"> PACK YOUR SKILLS</span> ?</h1>
          <p><%= t('home.mission.text1') %></p>
          <p><%= t('home.mission.text2') %></p>
          <p><%= t('home.mission.text3') %></p>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-2 hide_for_phone">
          <%= image_tag "/home.question.png" %>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Mission Part -->

  <!-- Benefits Part -->
  <section id="home_benefits" class="section section_path section_left_path">
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 col-sm-3 hide_for_phone'>
          <%= image_tag "/home.like.png" %>
        </div>
        <div class='col-xs-11 col-sm-9'>
          <h1><%= t('home.benefits.title') %></h1>
          <div class="row">
            <div class='col-xs-12 col-md-4 '>
              <p><strong><%= t('home.benefits.1strong') %></strong></p>
              <p><%= t('home.benefits.1underline') %></p>
            </div>
            <div class='col-xs-12 col-md-4 '>
              <p><strong><%= t('home.benefits.2strong') %></strong></p>
              <p><%= t('home.benefits.2underline') %></p>
            </div>
            <div class='col-xs-12 col-md-4 '>
              <p><strong><%= t('home.benefits.3strong') %></strong></p>
              <p><%= t('home.benefits.3underline') %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Benefits Part -->

  <!-- Process Part -->
  <section id="home_process" class="section section_path section_right_path">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= t('home.process.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class='col-xs-12 col-md-4'>
          <div class='row'>
            <div class='col-xs-4 col-sm-offset-1 col-sm-3 col-md-offset-0   col-md-12'>
              <%= image_tag "/home.process1.png" %>
            </div>
            <div class='col-xs-8 col-sm-6  col-md-12'>
              <p><strong>1.</strong></p>
              <p><%= t('home.process.step1') %></p>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-md-4'>
          <div class='row'>
            <div class='col-xs-4 col-sm-offset-1 col-sm-3 col-md-offset-0 col-md-12'>
              <%= image_tag "/home.process2.png" %>
            </div>
            <div class='col-xs-8 col-sm-6 col-md-12'>
              <p><strong>2.</strong></p>
              <p><%= t('home.process.step2') %></p>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-md-4'>
          <div class='row'>
            <div class='col-xs-4 col-sm-offset-1 col-sm-3 col-md-offset-0   col-md-12'>
              <%= image_tag "/home.process3.png" %>
            </div>
            <div class='col-xs-8 col-sm-6  col-md-12'>
              <p><strong>3.</strong></p>
              <p><%= t('home.process.step3') %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row_call2action">
        <a class="red_call2action" href='/NovemberIsTheNewCool' role="button"><%= t('home.process.call2action') %></a>
      </div>
    </div>
  </section>
  <!-- Enf of Process Part -->

  <!-- Users Part -->
  <section id="home_users" class="section section_path section_left_path">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= t('home.users.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class='col-xs-12 col-md-4'>
          <div class="row">
            <div class='col-xs-12 col-sm-3 col-md-12 hide_for_phone arrow arrow_left'>
              <%= image_tag "/home.packers.png" %>
            </div>
            <div class='col-xd-12 col-sm-9 col-md-12'>
              <p><strong><%= t('home.users.packers.name') %></strong></p>
              <p><%= t('home.users.packers.description') %></p>
              <a class="white_call2action" href='/NovemberIsTheNewCool' role="button"><%= t('home.users.packers.call2action') %></a>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-md-4'>
          <div class="row">
            <div class='col-xs-12 col-sm-3 col-md-12 hide_for_phone arrow arrow_right'>
              <%= image_tag "/home.crews.png" %>
            </div>
            <div class='col-xd-12 col-sm-9 col-md-12'>
              <p><strong><%= t('home.users.crews.name') %></strong></p>
              <p><%= t('home.users.crews.description') %></p>
              <a class="white_call2action" href='/NovemberIsTheNewCool' role="button"><%= t('home.users.crews.call2action') %></a>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-md-4'>
          <div class="row">
            <div class='col-xs-12 col-sm-3 col-md-12 hide_for_phone arrow arrow_right'>
              <%= image_tag "/home.others.png" %>
            </div>
            <div class='col-xd-12 col-sm-9 col-md-12'>
              <p><strong><%= t('home.users.others.name') %></strong></p>
              <p><%= t('home.users.others.description') %></p>
              <a class="empty_call2action" href="mailto:hello@packyoursills.com" role="button"><%= t('home.users.others.call2action') %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Users Part -->

  <!-- Testimonies Part -->
  <section id="home_testimonies" class="section section_path section_right_path">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= t('home.testimonies.title') %></h1>
        </div>
        <div class='col-xs-12 col-sm-6'>
          <div class='video_testimonies'>
            <iframe src="https://www.youtube.com/embed/videoseries?list=PLTAYKibpcTw9y93AOrDSErsbHcMbbrwDQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class='col-xs-offset-2 col-xs-10 col-sm-offset-0 col-sm-6'>
          <div class="row text_testimonies">
            <div class='col-xs-6 col-sm-4 hide_for_phone'>
              <%= image_tag "/home.nikol.jpg", class:"img_testmonies hide_for_phone" %>
            </div>
            <div class='col-xs-12 col-sm-8 text_portrait'>
              <p><strong>Nikol Parajova</strong></p>
              <div class="info_portrait hide_for_phone">
                <p>from Slovakia</p>
                <p>Photographer</p>
                <p>Packer @ Jimini's</p>
                <p>March 2017</p>
              </div>
            </div>
          </div>
          <div class='row'>
            <div class='col-xs-12'>
              <p>"Pack your skills gave me one of the best opportunities in my life. I got a chance to experience an amazing social entrepreneurship and spend two wonderful weeks in Paris. If I had a chance to work with pack your skills again I wouldn't doubt for a minute. I met amazing people and made new friends, and I can't be more grateful for it."</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Testimonies Part -->

  <!-- Team Part -->
  <section id="home_team" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-10">
          <h1><%= t('home.team.title') %></h1>
        </div>
      </div>
      <div class="row team_picture">
        <div class="col-xs-12 col-sm-offset-2 col-sm-6">
          <%= image_tag "/home.team.jpg" %>
        </div>
      </div>
      <div class="row text_team">
        <div class="col-xs-12 col-sm-offset-2 col-sm-5">
          <p><strong>Maxime</strong></p>
          <p><%= t('home.team.maxime') %></p>
        </div>
        <div class="col-xs-12 col-sm-5">
          <p><strong>Isis</strong></p>
          <p><%= t('home.team.isis') %></p>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Team Part -->

  <!-- Social Media Part -->
  <section id="home_social_network" class="section section_path section_left_path">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-2 col-sm-10">
          <div class="row img_insta">
            <div class="col-xs-4">
              <%= image_tag "/home.insta1.jpg" %>
            </div>
            <div class="col-xs-4">
              <%= image_tag "/home.insta2.jpg" %>
            </div>
            <div class="col-xs-4">
              <%= image_tag "/home.insta3.jpg" %>
            </div>
            <div class="col-xs-4">
              <%= image_tag "/home.insta4.jpg" %>
            </div>
            <div class="col-xs-4">
              <%= image_tag "/home.insta5.jpg" %>
            </div>
            <div class="col-xs-4">
              <%= image_tag "/home.insta6.jpg" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-sm-offset-2 col-sm-3">
          <p><strong><%= t('home.social_network.title') %></strong></p>
        </div>
        <div class="col-xs-1">
          <a href="https://www.instagram.com/packyourskills/" target="_blank" class="logo_social_network logo_insta"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://www.facebook.com/PackYourSkills/" target="_blank" class="logo_social_network logo_fb"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://twitter.com/packyourskills" target="_blank" class="logo_social_network logo_twitter"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://www.youtube.com/playlist?list=PLTAYKibpcTw9u8f5zMHd6su4UrfOO9611" target="_blank" class="logo_social_network logo_youtube"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Social Media Part -->

  <!-- Partners Part -->
  <section id="home_partners" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= t('home.partners.title') %></h1>
        </div>
      </div>
      <div class="container_logo">`
        <div class="row">
          <div class="col-xs-4">
            <%= image_tag "/home.logo.partners1.jpg" %>
          </div>
          <div class="col-xs-4">
            <%= image_tag "/home.logo.partners2.jpg" %>
          </div>
          <div class="col-xs-4">
            <%= image_tag "/home.logo.partners3.jpg" %>
          </div>
          <div class="col-xs-4">
            <%= image_tag "/home.logo.partners4.jpg" %>
          </div>
          <div class="col-xs-4">
            <%= image_tag "/home.logo.partners5.jpg" %>
          </div>
          <div class="col-xs-4">
            <%= image_tag "/home.logo.partners6.jpg" %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Partners Part -->
</div>
