<!-- Banner Part -->
<section id="banner" class="section">
  <h1><%= t('home.banner.slogan1') %></h1>
  <h1><%= t('home.banner.slogan2') %> <%= image_tag "/home.can.#{I18n.locale}.png" %></h1>
  <h1><%= t('home.banner.slogan3') %></h1>
  <h1><%= t('home.banner.slogan4') %></h1>
  <h1><%= t('home.banner.baseline') %></h1>
  <a class="btn btn-primary" href="#" role="button"><%= t('home.banner.call2action') %></a>
</section>
<!-- Enf of Banner Part -->

<!-- Mission Part -->
<section id="mission" class="section">
  <h1><%= t('home.mission.title') %></h1>
  <p><%= t('home.mission.text1') %></p>
  <p><%= t('home.mission.text2') %></p>
</section>
<!-- Enf of Mission Part -->

<!-- Benefits Part -->
<section id="benefits" class="section">
  <h1><%= t('home.benefits.title') %></h1>
  <p><strong><%= t('home.benefits.1strong') %></strong></p>
  <p><%= t('home.benefits.1underline') %></p>
  <p><strong><%= t('home.benefits.2strong') %></strong></p>
  <p><%= t('home.benefits.2underline') %></p>
  <p><strong><%= t('home.benefits.3strong') %></strong></p>
  <p><%= t('home.benefits.3underline') %></p>
</section>
<!-- Enf of Benefits Part -->

<!-- Process Part -->
<section id="process" class="section">
  <h1><%= t('home.process.title') %></h1>
  <p><%= t('home.process.step1') %></p>
  <p><%= t('home.process.step2') %></p>
  <p><%= t('home.process.step3') %></p>
  <a class="btn btn-primary" href="#" role="button"><%= t('home.process.call2action') %></a>
</section>
<!-- Enf of Process Part -->

<!-- Users Part -->
<section id="users" class="section">
  <h1><%= t('home.users.title') %></h1>
  <h2><%= t('home.users.packers.name') %></h2>
  <p><%= t('home.users.packers.description') %></p>
  <a class="btn btn-primary" href="#" role="button"><%= t('home.users.packers.call2action') %></a>
  <h2><%= t('home.users.crews.name') %></h2>
  <p><%= t('home.users.crews.description') %></p>
  <a class="btn btn-primary" href="#" role="button"><%= t('home.users.crews.call2action') %></a>
  <h2><%= t('home.users.others.name') %></h2>
  <p><%= t('home.users.others.description') %></p>
  <a class="btn btn-primary" href="#" role="button"><%= t('home.users.others.call2action') %></a>
</section>
<!-- Enf of Users Part -->

<!-- Testimonies Part -->
<section id="testimonies" class="section">
  <h1><%= t('home.testimonies.title') %></h1>
</section>
<!-- Enf of Testimonies Part -->

<!-- Team Part -->
<section id="team" class="section">
  <h1><%= t('home.team.title') %></h1>
  <p><%= t('home.team.maxime') %></p>
  <p><%= t('home.team.isis') %></p>
  <a class="btn btn-primary" href="#" role="button"><%= t('home.team.call2action') %></a>
</section>
<!-- Enf of Team Part -->

<!-- Partners Part -->
<section id="partners" class="section">
  <h1><%= t('home.partners.title') %></h1>
</section>
<!-- Enf of Partners Part -->
