<div id="iamacrew" class="page_IamA">
  <section class="banner banner_iamacrew" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @banner_url %>')" >
    <div class="banner_content">
      <h1><%= t('iamacrew.title') %></h1>
    </div>
  </section>
  <section class="question_left section section_red_shape_photo_right section_path section_left_path" >
    <div class="container">
      <h2><%= t('iamacrew.q1') %></h2>
      <p><%= t('iamacrew.a1_html') %></p>
      <h2><%= t('iamacrew.q2') %></h2>
      <p><%= t('iamacrew.a2_html') %></p>
    </div>
  </section>
  <section class="question_right section section_yellow1_left" >
    <div class="container">
      <h2><%= t('iamacrew.q3') %></h2>
      <p><%= t('iamacrew.a3_html') %></p>
      <h2><%= t('iamacrew.q4') %></h2>
      <p><%= t('iamacrew.a4_html') %></p>
    </div>
  </section>

  <section class="call2action" >
    <div class="container">
      <h2><%= t('iamacrew.participate') %></h2>
      <p><%= t('iamacrew.next_edition_html') %></p>
      <a class="btn btn-success" href="http://bit.ly/2n6mJMA" role="button"><%= t('iamacrew.call2action') %></a>
    </div>
  </section>
</div>
