<div id="november">

  <section id="november_banner" class="banner section">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-6 col-sm-6 col-md-offset-7 col-md-5">
          <h1><%= t('november.banner.title1') %></h1>
          <h1><%= t('november.banner.title2') %></h1>
          <div class="translate"><%= t('november.banner.translate') %></div>
          <p><%= t('november.banner.underline') %></p>
        </div>
      </div>
    </div>
    <div class="footer_banner">
      <a href="#november_intro"><%= image_tag "/home.banner.arrow.png", id: 'arrow_banner'  %></a>
    </div>
  </section>

  <section id="november_intro" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-offset-1 col-sm-6 col-xd-7">
          <p><%= t('november.intro.paragraph1') %></p>
          <p><%= t('november.intro.paragraph2') %></p>
        </div>
      </div>
    </div>
  </section>

  <section id="november_title" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= t('november.intro.title') %></h1>
          <div class="translate"><%= t('november.intro.translate') %></div>
        </div>
      </div>
    </div>
  </section>

  <section id="november_description" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-4 col-sm-8">
          <p><strong><%= t('november.description.1_strong') %></strong></p>
          <p><%= t('november.description.1_normal') %></p>
          <p><strong><%= t('november.description.2_strong') %></strong></p>
          <p><%= t('november.description.2_normal') %></p>
          <p><strong><%= t('november.description.3_strong') %></strong></p>
          <p><%= t('november.description.3_normal') %></p>
          <p><strong><%= t('november.description.4_strong') %></strong></p>
          <p><%= t('november.description.4_normal') %></p>
          <p><strong><%= t('november.description.5_strong') %></strong></p>
          <p><%= t('november.description.5_normal') %></p>
        </div>
      </div>
    </div>
  </section>

  <!-- Users Part -->
  <section id="november_call2action" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><%= t('november.call2action.title') %></h1>
        </div>
      </div>
      <div class="row">
        <div class='col-xs-12 col-md-6'>
          <div class="row">
            <div class='col-xs-12 col-sm-3 col-md-12 hide_for_phone arrow arrow_left'>
              <%= image_tag "/home.crews.png" %>
            </div>
            <div class='col-xd-12 col-sm-9 col-md-12'>
              <p><strong><%= t('november.call2action.crews.name') %></strong></p>
              <p><%= t('november.call2action.crews.text') %></p>
              <p class="comment"><strong><%= t('november.call2action.crews.comment') %></strong></p>
              <a class="green_call2action" href="http://bit.ly/2fZNtOC" role="button"><%= t('november.call2action.crews.call2action') %></a>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-md-6'>
          <div class="row">
            <div class='col-xs-12 col-sm-3 col-md-12 hide_for_phone arrow arrow_right '>
              <%= image_tag "/home.packers.png" %>
            </div>
            <div class='col-xd-12 col-sm-9 col-md-12'>
              <p><strong><%= t('november.call2action.packers.name') %></strong></p>
              <p><%= t('november.call2action.packers.text') %></p>
              <p class="comment"><strong><%= t('november.call2action.packers.comment') %></strong></p>
              <!-- Begin MailChimp Signup Form -->
              <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
              <div id="mc_embed_signup">
                <form action="//packyourskills.us14.list-manage.com/subscribe/post?u=8c95cf695d48cd7d49d9b5812&amp;id=19717b3ecd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8c95cf695d48cd7d49d9b5812_19717b3ecd" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value=<%= t('november.call2action.packers.call2action') %> name="subscribe" id="mc-embedded-subscribe" class="green_call2action"></div>
                </div>
              </form>
              </div>
              <!--End mc_embed_signup-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Users Part -->

  <!-- Social Media Part -->
  <section id="november_social_network" class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-sm-5">
          <p><strong><%= t('november.follow') %></strong></p>
        </div>
        <div class="col-xs-1">
          <a href="https://www.instagram.com/packyourskills/" target="_blank" class="logo_social_network logo_insta"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://www.facebook.com/PackYourSkills/" target="_blank" class="logo_social_network logo_fb"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://twitter.com/packyourskills" target="_blank" class="logo_social_network logo_twitter"></a>
        </div>
        <div class="col-xs-1">
          <a href="https://www.youtube.com/playlist?list=PLTAYKibpcTw9u8f5zMHd6su4UrfOO9611" target="_blank" class="logo_social_network logo_youtube"></a>
        </div>
      </div>
    </div>
  </section>
  <!-- Enf of Social Media Part -->

</div>
