<section id="mission_form" class="form">
    <div class="container_form">
    <%= simple_form_for (@mission) do |a| %>
      <%= a.input :title %>
      <%= a.input :cover_mission, as: :attachinary %>
      <%= a.input :context %>
      <%= a.input :description %>
      <%= a.input :duration %>
      <%= a.input :skill %>
      <%= a.input :material %>

    <!-- Referent -->
      <%= a.input :referent_first_name %>
      <%= a.input :referent_last_name %>
      <%= a.input :referent_role %>
      <%= a.input :referent_phone %>
      <%= a.input :referent_email %>
      <%= a.input :referent_picture, as: :attachinary %>

    <!-- Host -->
      <%= a.input :host_first_name %>
      <%= a.input :host_last_name %>
      <%= a.input :host_role %>
      <%= a.input :host_phone %>
      <%= a.input :host_picture, as: :attachinary %>

    <!-- Hosting place -->
      <%= a.input :description_hosting_place %>
      <%= a.input :hosting_place_picture, as: :attachinary %>

      <p>Address </p>
      <%= a.input :address %>
      <%= a.input :city %>
      <%= a.input :zip_code %>
      <%= a.input :country, as: :string %>
      <%= a.input :closest_metro_hosting_place %>

      <%= a.input :nb_min_ride %>
      <%= a.input :other_comment %>
      <%= a.submit 'Save & keep offline', class: "btn btn-default" if (@mission.status == nil || @mission.status == 'draft' || @mission.status == 'suspended') %>
      <%= a.submit 'Publish', class: "btn btn-primary" %>
    <% end %>
  </div>
</section>
