<%= simple_form_for (@mission) do |a| %>
  <%= a.input :title, required: true %>
  <%= a.input :context, required: true %>
  <%= a.input :description, required: true %>
  <%= a.input :duration, required: true %>
  <%= a.input :skill, required: true %>
  <%= a.input :material, required: true %>
  <%= a.input :referent_first_name, required: true %>
  <%= a.input :referent_last_name, required: true %>
  <%= a.input :referent_role, required: true %>
  <%= a.input :referent_phone, required: true %>
  <%= a.input :referent_email, required: true %>
  <%= a.input :host_first_name, required: true %>
  <%= a.input :host_last_name, required: true %>
  <%= a.input :host_role, required: true %>
  <%= a.input :host_phone, required: true %>
  <%= a.input :description_hosting_place, required: true %>

  <p>Address </p>
  <%= a.input :address, required: true %>
  <%= a.input :city, required: true %>
  <%= a.input :zip_code, required: true %>
  <%= a.input :country, as: :string, required: true %>

  <%= a.input :closest_metro_hosting_place, required: true %>
  <%= a.input :nb_min_ride, required: true %>
  <%= a.input :other_comment %>
  <%= a.submit 'Save & keep offline', class: "btn btn-default" if (@mission.status == nil || @mission.status == 'draft' || @mission.status == 'suspended') %>
  <%= a.submit 'Publish', class: "btn btn-primary" %>
<% end %>

