<div id="mission_index">
  <section id="banner" class="banner" style="background-image: linear-gradient(rgba(1,1,1,0.5), rgba(1,1,1,0.5)), url('<%= cl_image_path @url_cover %>')" >
    <div class="banner_content">
      <h1><%= t('mission.index.title') %></h1>
      <h2><%= t('mission.index.subtitle') %></h2>
    </div>
  </section>

  <section id="introduction" class="section_blue" >
    <div class="introduction_container">
      <p><%= t('mission.index.introduction.intro') %></p>
      <h2><%= t('mission.index.introduction.hashtag') %></h2>
      <p><%= t('mission.index.introduction.explication') %></p>
      <p><%= t('mission.index.introduction.call2action') %></p>
    </div>
  </section>

  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="main col-md-12">
          <!-- isotope filters start -->
          <div class="filters">
            <ul class="nav nav-pills">
              <li class="active"><a href="#" data-filter="*"><%= t('mission.index.filter.all') %></a></li>
              <li><a href="#" data-filter=".graphicdesign"><%= t('mission.index.filter.graphic') %></a></li>
              <li><a href="#" data-filter=".video"><%= t('mission.index.filter.video') %></a></li>
              <li><a href="#" data-filter=".webdevelopment"><%= t('mission.index.filter.webdev') %></a></li>
              <li><a href="#" data-filter=".webmarketing"><%= t('mission.index.filter.webmarket') %></a></li>
            </ul>
          </div>
          <!-- isotope filters end -->
          <div class="isotope-container">
            <% @online_missions.each_with_index do |mission, index| %>
              <div class="col-xs-12 col-sm-6 col-md-4 isotope-item <%= mission.skill.downcase.gsub(/\s+/, "") %>">
                <div class= "card_mission">
                  <div class= "banner_card_mission" style="background-image: url('<%= cl_image_path mission.url_cover, angle: 0 %>')" >
                    <div class= "box box_ratio_1_1" style="background-image: url('<%= cl_image_path mission.crew.url_logo, angle: 0 %>')" >
                    </div>
                  </div>
                  <div class= "info_card_mission">
                    <p><%= mission.crew.name %></p>
                    <p><strong><%= mission.title %></strong></p>
                    <p>#<%= mission.skill %></p>
                    <p>#<%= mission.crew.cause %></p>
                  </div>
                  <%= link_to "", mission_path(mission.id) %>
                </div>
              </div>
            <% end %>
            <% @validated_missions.each_with_index do |mission, index| %>
              <div class="col-xs-12 col-sm-6 col-md-4 isotope-item <%= mission.skill.downcase.gsub(/\s+/, "") %>">
                <div class= "card_mission">
                  <div class= "banner_card_mission" style="background-image: url('<%= cl_image_path mission.url_cover, angle: 0 %>')" >
                    <div class= "box box_ratio_1_1" style="background-image: url('<%= cl_image_path mission.crew.url_logo, angle: 0 %>')" >
                    </div>
                  </div>
                  <div class= "info_card_mission">
                    <p><%= mission.crew.name %></p>
                    <p><strong><%= mission.title %></strong></p>
                    <p>#<%= mission.skill %></p>
                    <p>#<%= mission.crew.cause %></p>
                  </div>
                  <div class="validated_mission">
                    <div class="content">
                      <p>They already found their Packer</p>
                    </div>
                  </div>
                  <%= link_to "", mission_path(mission.id) %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
