<h2>List of missions</h2>

<% @public_missions.each_with_index do |mission, index| %>
  <p><%= index %> - <%= mission.title %> <%= mission.crew.name %> <%= mission.status %></p>
  <p><%= link_to "See details", mission_path(mission.id) %></p>
<% end %>
