<div id="mission_index">
  <section id="banner" class="banner" style="background-image: linear-gradient(rgba(1,1,1,0.5), rgba(1,1,1,0.5)), url('<%= cl_image_path @url_cover %>')" >
    <div class="banner_content">
      <h1><%= t('mission.index.title') %></h1>
      <h2><%= t('mission.index.subtitle') %></h2>
    </div>
  </section>

  <section id="introduction" class="section_blue" >
    <div class="introduction_container">
      <p><%= t('mission.index.introduction.intro1') %></p>
      <p><%= t('mission.index.introduction.intro2') %></p>
      <h2><%= t('mission.index.introduction.hashtag') %></h2>
      <p><%= t('mission.index.introduction.explication') %></p>
      <p><%= t('mission.index.introduction.call2action') %></p>
    </div>
  </section>
<!--
  <section id="mission_teasing_call2action" class="section">
    <div class="container">
      <div class="row">
        <div class='col-xs-12 col-md-6'>
          <div class="row">
            <div class='col-xs-12 col-sm-3 hide_for_phone arrow arrow_right '>
              <%= image_tag "/home.packers.png" %>
            </div>
            <div class='col-xd-12 col-sm-9'>
              <p><strong><%= t('nov2018.call2action.packers.name') %></strong></p>
              <p><%= t('nov2018.call2action.packers.text') %></p>
              <p class="comment"><strong><%= t('nov2018.call2action.packers.comment') %></strong></p>
              <%= link_to t('nov2018.call2action.packers.call2action'), new_user_registration_path, class: "green_call2action" %>
            </div>
          </div>
        </div>
        <div class='col-xs-12 col-md-6'>
          <div class="row">
            <div class='col-xs-12 col-sm-3 hide_for_phone arrow arrow_left'>
              <%= image_tag "/home.crews.png" %>
            </div>
            <div class='col-xd-12 col-sm-9'>
              <p><strong><%= t('nov2018.call2action.crews.name') %></strong></p>
              <p><%= t('nov2018.call2action.crews.text') %></p>
              <p class="comment"><strong><%= t('nov2018.call2action.crews.comment') %></strong></p>
              <a class="green_call2action" href="http://bit.ly/PYS_NOV18" role="button"><%= t('nov2018.call2action.crews.call2action') %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="old_mission" class="section_red" >
      <div class="introduction_container">
        <p><%= t('mission.index.oldmission.title') %></p>
      </div>
    </div>
  </section>
 -->

  <section class="main-container">
    <div class="container">
      <div class="row">
        <div class="main col-md-12">
          <!-- isotope filters start -->
          <div class="filters">
            <ul class="nav nav-pills">
              <li class="active"><a href="#" data-filter="*"><%= t('mission.index.filter.all') %></a></li>
              <li><a href="#" data-filter=".graphicdesign"><%= t('mission.index.filter.graphic') %></a></li>
              <li><a href="#" data-filter=".video"><%= t('mission.index.filter.video') %></a></li>
              <li><a href="#" data-filter=".webdevelopment"><%= t('mission.index.filter.webdev') %></a></li>
              <li><a href="#" data-filter=".webmarketing"><%= t('mission.index.filter.webmarket') %></a></li>
            </ul>
          </div>
          <!-- isotope filters end -->
          <div class="isotope-container">
            <% @online_missions.each_with_index do |mission, index| %>
              <div class="col-xs-12 col-sm-6 col-md-4 isotope-item <%= mission.skill.downcase.gsub(/\s+/, "") %>">
                <div class= "card_mission">
                  <div class= "banner_card_mission" style="background-image: url('<%= cl_image_path mission.url_cover, angle: 0 %>')" >
                    <div class= "box box_ratio_1_1" style="background-image: url('<%= cl_image_path mission.crew.url_logo, angle: 0 %>')" >
                    </div>
                  </div>
                  <div class= "info_card_mission">
                    <p><%= mission.crew.name %></p>
                    <p><strong><%= mission.title %></strong></p>
                    <p>#<%= mission.skill %></p>
                    <p>#<%= mission.crew.cause %></p>
                  </div>
                  <%= link_to "", mission_path(mission.id) %>
                </div>
              </div>
            <% end %>

<!--
             <% @validated_missions.each_with_index do |mission, index| %>
              <div class="col-xs-12 col-sm-6 col-md-4 isotope-item <%= mission.skill.downcase.gsub(/\s+/, "") %>">
                <div class= "card_mission">
                  <div class= "banner_card_mission" style="background-image: url('<%= cl_image_path mission.url_cover, angle: 0 %>')" >
                    <div class= "box box_ratio_1_1" style="background-image: url('<%= cl_image_path mission.crew.url_logo, angle: 0 %>')" >
                    </div>
                  </div>
                  <div class= "info_card_mission">
                    <p><%= mission.crew.name %></p>
                    <p><strong><%= mission.title %></strong></p>
                    <p>#<%= mission.skill %></p>
                    <p>#<%= mission.crew.cause %></p>
                  </div>
                  <div class="validated_mission">
                    <div class="content">
                      <p>They already found their Packer</p>
                    </div>
                  </div>
                  <%= link_to "", mission_path(mission.id) %>
                </div>
              </div>
            <% end %>
 -->

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
