<div id="mission_show">

<!-- Banner Part -->
  <section id="banner" class="banner" style="background-image: linear-gradient(rgba(138,215,218,0.5), rgba(138,215,218,0.5)), url('<%= @mission.url_cover %>')" >
    <div class="banner_content">
      <h1><%= @mission.title %></h1>
    </div>
  </section>

<!-- Second Navbar Part -->
  <section id="secondary_navbar" class='section_gray'>
    <div class="nav_bar_items">
      <%= link_to t('mission.show.crew.section_title'), '#crew_mission_show' %>
    </div>
    <div class="nav_bar_items">
      <%= link_to t('mission.show.crew.mission'), '#mission_mission_show' %>
    </div>
    <div class="nav_bar_items">
      <%= link_to t('mission.show.workplace.section_title'), '#workplace_mission_show' %>
    </div>
    <div class="nav_bar_items">
      <%= link_to t('mission.show.team.section_title'), '#team_mission_show' %>
    </div>
    <div class="nav_bar_items">
      <%= link_to t('mission.show.host.section_title'), '#host_mission_show' %>
    </div>
    <div class="nav_bar_items call2action">
      <%= link_to t('mission.show.apply'), 'root_path' %>
    </div>
  </section>

<!-- crew_mission_show Part -->
  <section id="summary_mission_show" class="section_blue">
    <div class='logo'>
      <div class='box box_ratio_1_1' style="background-image: url('<%= @mission.crew.url_logo %>')">
      </div>
    </div>
    <div class='social_media'>
      <ul class="social-icon-list list-unstyled">
        <% if @mission.crew.facebook != (nil || '') %><li>
          <%= link_to "", @mission.crew.facebook, target: "_blank", class: "fa fa-facebook" %>
        </li><% end %>
        <% if @mission.crew.twitter != (nil || '') %><li>
          <%= link_to "", @mission.crew.twitter, target: "_blank", class: "fa fa-twitter" %>
        </li><% end %>
        <% if @mission.crew.instagram != (nil || '') %><li>
          <%= link_to "", @mission.crew.instagram, target: "_blank", class: "fa fa-instagram" %>
        </li><% end %>
        <% if @mission.crew.website != (nil || '') %><li>
          <%= link_to "", @mission.crew.website, target: "_blank", class: "fa fa-globe" %>
        </li><% end %>
    </div>
    <div class='information'>
      <p><strong><%= @mission.crew.name %></strong></p>
      <p><%= t('mission.show.summary.created') %><%= @mission.crew.creation_date %></p>
      <p>#<%= @mission.skill.capitalize %></p>
      <p>#<%= @mission.city %></p>
      <p><%= @mission.duration %> days - November 5-19,2017</p>
    </div>
  </section>

<!-- crew_mission_show Part -->
  <section id="crew_mission_show" class="section section_path section_right_path section_yellow1_left">
    <div class='container'>
      <h2><%= t('mission.show.crew.title') %></h2>
      <p><%= @mission.crew.name %> <%= @mission.crew.mission %></p>
      <p><%= @mission.crew.description %></p>
      <p><u><%= t('mission.show.mission.equipment') %></u><br><%= @mission.material %></p>
    </div>
  </section>

<!-- mission_mission_show Part -->
  <section id="mission_mission_show" class="section section_path section_left_path section_red1_right">
    <div class='container'>
      <h2><%= t('mission.show.mission.title') %></h2>
      <p><%= @mission.context %></p>
      <p><%= @mission.description %></p>
    </div>
  </section>

<!-- workplace_mission_show Part -->
  <section id="workplace_mission_show" class="section section_path section_right_path section_blue1_left">
    <div class='container'>
      <h2><%= t('mission.show.workplace.title') %></h2>
      <p><%= @mission.crew.description_working_place %></p>
      <%= image_tag @mission.crew.url_working_place_picture %>
    </div>
  </section>

<!-- team_mission_show Part -->
  <section id="team_mission_show" class="section section_green2_right">
    <div class='container'>
      <div class='row'>
        <h2><%= t('mission.show.team.title') %></h2>
        <%= image_tag @mission.crew.url_team_picture %>
      </div>
      <div class='row'>
        <table>
          <tr>
            <th><p><%= @mission.crew.nb_collaborators %> <%= t('mission.show.team.nb_people') %></p></th>
            <th><p><%= @mission.crew.average_age %> <%= t('mission.show.team.average_age') %></p></th>
          </tr>
          <tr>
            <th><p><%= @mission.crew.percentage_women %>% <i class="fa fa-female" aria-hidden="true"></i> <%= (100 - @mission.crew.percentage_women) %>% <i class="fa fa-male" aria-hidden="true"></i></p></th>
            <th><p><%= @mission.crew.percentage_english %>% <%= t('mission.show.team.percentage_en') %></p></th>
          </tr>
        </table>
      </div>
      <div class='row'>
        <p><%= @mission.crew.team_description %></p>
      </div>
      <div class='row referent_and_host'>
        <div class='portrait'>
          <div class="avatar" style="background-image: url('<%= @mission.url_referent_picture %>')" >
          </div>
        </div>
        <div class='info'>
          <p><strong><%= @mission.referent_first_name %> <%= @mission.referent_last_name %></strong></p>
          <p><%= @mission.referent_role %></p>
        </div>
      </div>
    </div>
  </section>

<!-- Values Part -->
  <section id="value_mission_show" class="section section_path section_left_path">
    <div class="section_yellow">
      <div class='container'>
        <h2><%= t('mission.show.values.title') %></h2>
        <p><%= t('mission.show.values.why_html') %></p>
        <ul>
          <% if @mission.crew.value1 != (nil || '') %>
            <li><p><%= @mission.crew.value1 %></p></li>
          <% end %>
          <% if @mission.crew.value2 != (nil || '') %>
            <li><p><%= @mission.crew.value2 %></p></li>
          <% end %>
          <% if @mission.crew.value3 != (nil || '') %>
            <li><p><%= @mission.crew.value3 %></p></li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

<!-- host_mission_show Part -->
  <section id="host_mission_show" class="section section_red2_left">
    <div class='container'>
      <div class='row'>
        <h2><%= t('mission.show.host.title') %></h2>
      </div>
      <div class='row referent_and_host'>
        <div class='portrait'>
          <div class="avatar" style="background-image: url('<%= @mission.url_host_picture %>')" >
          </div>
        </div>
        <div class='info'>
          <p><strong><%= @mission.host_first_name %> <%= @mission.host_last_name %></strong></p>
          <p><%= @mission.host_role %></p>
        </div>
      </div>
      <div class='row'>
        <p><%= @mission.description_hosting_place %></p>
      </div>
      <div class='row'>
        <table>
          <tr>
            <th><p>????</p></th>
            <th><p><%= t('mission.show.host.distance_paris') %> ??<%= t('mission.show.host.min_by_metro') %></p></th>
          </tr>
          <tr>
            <th><p><%= t('mission.show.host.distance_workplace') %> ??<%= t('mission.show.host.min_by_metro') %></p></th>
            <th><p><%= @mission.closest_metro_hosting_place %> <%= t('mission.show.host.close_subway') %></p></th>
          </tr>
        </table>
      </div>
      <div class='row'>
        <div class="col-xs-12 col-sm-6">
          <div class="box_ratio_2_3 hosting_place_picture" style="background-image: url('<%= @mission.url_hosting_place_picture %>')" >
          </div>>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="box_ratio_2_3">
            <div class="content_box">
              <div id="map">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>



<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  </script>
<% end %>


