<!DOCTYPE html>
<html>
  <head>
    <title>Pack Your Skills</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <link rel="shortcut icon" type="image/x-icon" href="/home.logo.1cm.png" />
    <meta name="description" content="Pack Your Skills allows travelers (Packers) to join social startups or charities (Crews) to do a mission based on their skills and get hosted in exchange. #Volunteering #PositiveImpact #SocialEntrepreneurship">

    <!-- Facebook -->
    <meta property="og:url"                content="http://www.packyourskills.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Pack Your Skills - Your skills can change the world" />
    <meta property="og:description"        content="Pack Your Skills allows travelers (Packers) to join social startups or charities (Crews) to do a mission based on their skills and get hosted in exchange. #Volunteering #PositiveImpact #SocialEntrepreneurship" />
    <meta property="og:image"              content="https://pyswebsitev1.herokuapp.com/social_card.jpg" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@PackYourSkills">
    <meta name="twitter:title" content="Pack Your Skills - Your skills can change the world"">
    <meta name="twitter:description" content="Pack Your Skills allows travelers (Packers) to join social startups or charities (Crews) to do a mission based on their skills and get hosted in exchange. #Volunteering #PositiveImpact #SocialEntrepreneurship">
    <meta name="twitter:creator" content="@PackYourSkills">
    <meta name="twitter:image" content="https://pyswebsitev1.herokuapp.com/social_card.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
