<!DOCTYPE html>
<html>
  <head>
    <title>Pack Your Skills</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <link rel="shortcut icon" type="image/x-icon" href="/home.logo.1cm.png" />
    <meta name="description" content="Pack Your Skills allows travelers (Packers) to join social startups or charities (Crews) to do a mission based on their skills and get hosted in exchange. #Volunteering #PositiveImpact #SocialEntrepreneurship">

    <!-- Facebook -->
    <meta property="og:url"                content="http://www.packyourskills.com" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Pack Your Skills - Your skills can change the world" />
    <meta property="og:description"        content="Pack Your Skills allows travelers (Packers) to join social startups or charities (Crews) to do a mission based on their skills and get hosted in exchange. #Volunteering #PositiveImpact #SocialEntrepreneurship" />
    <meta property="og:image"              content="https://pyswebsitev1.herokuapp.com/social_card.jpg" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@PackYourSkills">
    <meta name="twitter:title" content="Pack Your Skills - Your skills can change the world"">
    <meta name="twitter:description" content="Pack Your Skills allows travelers (Packers) to join social startups or charities (Crews) to do a mission based on their skills and get hosted in exchange. #Volunteering #PositiveImpact #SocialEntrepreneurship">
    <meta name="twitter:creator" content="@PackYourSkills">
    <meta name="twitter:image" content="https://pyswebsitev1.herokuapp.com/social_card.jpg">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all' %>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-86504963-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-86504963-2');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window,document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
       fbq('init', '1526880650719258');
      fbq('track', 'PageView');
    </script>
    <noscript>
       <img height="1" width="1"
      src="https://www.facebook.com/tr?id=1526880650719258&ev=PageView
      &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

  </head>

  <body data-spy="scroll" data-target=".navbar_sm_md_lg" data-offset="51">
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= render 'devise/shared/header' if (controller_path.include?("devise/") || controller_path.include?("users/")) %>

    <%= yield %>
    <%= render 'devise/shared/footer' if (controller_path.include?("devise/") || controller_path.include?("users/")) %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="fe44864c-e832-489c-a02f-42bb78f4eb3e";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
    <%= cloudinary_js_config %>

    <%= yield(:after_js) %>
  </body>
</html>
